/* Buttons and links */
a {
    color: inherit;
    text-decoration: inherit;
}

/* CD player */
#cdplayerContainer {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#cdslotContainer{
    margin-top: 2vh;
    height: 6vh;
}

#cd_icon  {
    margin-left: 2vw;
    text-align: left;
}

#cd_icon img {
    max-height: 100%;
    padding: 0.5vh;
    opacity: 50%;
}

.buttonContainer div img {
    width:auto;
    height: 10vh;
}

/* CD page */
#jewelCase {
    background-image: url("/static/images/cd_cover.png");
    background-repeat:no-repeat;
    background-size: contain;
    height: 0;
    width:90%;
    padding-bottom:80%;
    background-color:none;
    overflow: auto;
}
