body > main {
    min-height: 60vh;
    padding-bottom: 0;
    overflow-y: auto;

}

body > footer {
    bottom: 0;
    left: 0;
    position: relative;
    width:100%;
    padding-block: 0;
}

body > header {
    padding-left: 3%;
    padding-right: 5%;
}

/* Buttons and links */
a {
    color: inherit;
    text-decoration: inherit;
}

/* Home page */
#cdShelf {
    max-height: 90vw;
    max-width: 90vh;
    transform:rotate(-90deg) translateY(-95vw);
    transform-origin: right top;
}

#cdShelf li {
    list-style: none;
    border-bottom: 1px solid var(--pico-color-slate-100);
    border-top: 1px solid var(--pico-color-slate-100);
    border-left: 3px solid var(--pico-color-slate-100);
    border-right: 3px solid var(--pico-color-slate-100);
    padding-left: 5px;
    padding-right: 5px;
}

/* CD player */
#cdplayerContainer {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#cdslotContainer{
    margin-top: 2vh;
    height: 6vh;
}

#cd_icon  {
    margin-left: 2vw;
    text-align: left;
}

#cd_icon img {
    max-height: 100%;
    padding: 0.5vh;
    opacity: 50%;
}

.buttonContainer div img {
    width:auto;
    height: 10vh;
}

/* CD page */
#jewelCase {
    background-image: url("/static/images/cd_cover.png");
    background-repeat:no-repeat;
    background-size: contain;
    height: 0;
    width:90%;
    padding-bottom:80%;
    padding-top: 3%;
    padding-left:12%;
    padding-right: 5%;
    background-color:none;
    overflow: auto;
}

#jewelCase > ol {
    max-height: 100%;
    margin-bottom: 2%;
}

#jewelCase > ol > li {
    cursor: pointer;
    border-bottom: 1px solid var(--pico-color-slate-100);
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Search page */
.searchResults {
    max-height: 30vh;
    overflow: auto;
}
