<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CD Shelf</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: white;
            color:black;
        }
        header {
            text-align: center;
            padding: 10px 0;
        }
        main {
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <a href="{% url 'cdshelf:home' %}">CD Shelf</a>
        <h1>{% block title %}{% endblock title %}</h1>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>
