{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />
    <title>CD Shelf</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    >
  <link rel="stylesheet" href="{% static 'css/cdshelf.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'cdshelf:home' %}"><strong>CD Shelf</strong></a></li>
            </ul>
            <ul>
              <li><a href="{% url 'cdshelf:search' %}" class="secondary">Search</a></li>
            </ul>
          </nav>
    </header>
        <main class="container">
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <div id="cdplayerContainer" class="pico-background-slate-950">
                <div id="cdslotContainer" role="group" class="pico-background-slate-850">
                    <div id="cd_icon"><img src="{% static 'icons/compact_disc.png' %}"></img></div>
                </div>
                <div id="buttonContainer" role="group">
                    <div id="previous" class="pico-background-slate-850"><img src="{% static 'icons/skip-left-fill.svg' %}"></img></div>
                    <div  id="play" class="pico-background-slate-850"><img src="{% static 'icons/play-fill.svg' %}"></img></div>
                    <div  id="pause" class="pico-background-slate-850"><img src="{% static 'icons/pause-fill.svg' %}"></img></div>
                    <div  id="next" class="pico-background-slate-850"><img src="{% static 'icons/skip-right-fill.svg' %}"></img></div>
                    <div  id="eject" class="pico-background-slate-850"><img src="{% static 'icons/eject-fill.svg' %}"></img></div>
                </div>
            </div>
        </footer>
    {% block javascript %}
    <script src="{% static 'js/cdplayer.js' %}"></script>
    {% endblock javascript %}
</body>
</html>
